

// Variables
@import "variables";

// Bootstrap
$border-radius-base: 0;
$brand-primary: #2e6da4;
$component-active-bg: #95C4D1;
$component-active-color: #000000;
$list-group-active-border:#2e6da4;
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./font-awesome/font-awesome";

$sidebar-background: #303030;

html, body, #app {
  height: 100%;
  position:relative;
}

.main-header {
  position: fixed;
  top:0;
  right:0;
  left: 0;
  max-height: 100px;
  z-index: 1050;
}

.content-wrapper {
  padding-top: 50px;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  position: fixed;
  top:0;
  bottom:0;
  left:130px;
  right:0;
  height:inherit;

  .wrapper {
    position: relative;
    height: inherit;
  }

}


.main-sidebar {

  background-color: $sidebar-background;
  position: fixed;
  top:0;
  left:0;
  padding-top: 50px;
  min-height:100%;
  width: 130px;
  z-index: 800;
  transition: transform .3s ease-in-out,width .3s ease-in-out;
  color: #dfdfdf;

  ul {

    list-style-type: none !important;

    &.icon-menu {
      margin:0px;
      padding: 15px;
      padding-left: 0px;
      padding-right: 0px;

      li {

        a {
          width:100%;

          background-color: #303030;
          //border:1px solid #232323;
          padding:8px;
          display: block;
          text-decoration: none;
          transition: background-color 0.2s ease-in-out;
          color: #dfdfdf;
          text-align: center;
          vertical-align: middle;

          i.fa {
            font-size: 2em;
          }

          &:hover {
            background-color: #1f1f1f;
            transition: background-color 0.4s ease-in;
            //border-color: #2b2b2b;
            opacity: 1;
          }
        }
      }
    }

  }
}

.scrollable {
  overflow-y: auto !important;
}

.title-header {
  padding: 8px;
  background-color: #f5f5f5;
  line-height: 1em;
  font-size: 1em;
  color: #1f1f1f;
  position: relative;
  top:0;
  left:0;
  right:0;
  height: 2em;
  box-shadow: rgba(0,0,0,0.25) 0px 1px 1px;
}


.list-view-panel {
  background-color: $brand-primary;
}

.table-form {
  border-left:1px solid #505050;
  height:100%;
  position: relative;

  .builder-form {
    font-weight: normal;
    font-style: normal;
    font-smooth: always;
    padding: 16px;
    background-color: #2e6da4;

    .input-title {

      label {
        color: rgba(255,255,255,0.5);
        font-weight: normal !important;
      }

      input[type=text] {
        font-size: 1.2em;
        color: #FFFFFF;
        background-color: transparent;
        border:none;
        border-bottom: solid 1px #fff;
        box-shadow: none;
      }
    }


  }

  .list-panel{

    position: relative;
    height: 100%;

    .table-section {
      position: absolute;
      left: 0px;
      right: 0px;
      top:0px;
      bottom:0px;
      background-color: #cdcdcd;
      overflow-y: auto;
    }
  }


}